@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300;400;500;600&display=swap');

.main {
  display: flex;
  background: var(--main-bg);
  overflow-x: hidden;
}

.content {
  padding: 2rem;
  color: var(--text-color);
  font-family: 'JetBrains Mono', monospace;
  flex: 1;
  height: 85vh;
  overflow-y: auto;
  scroll-behavior: smooth;
  overflow-x: hidden;
  display: flex;
  align-items: center;
}

.content {
  scrollbar-width: 10px;
  scrollbar-color: var(--accent-color);
}

.content::-webkit-scrollbar {
  width: 15px;
}

.content::-webkit-scrollbar-track {
  background: var(--scrollbar-track-bg);
  border-left: 1px solid #1e1f29;
}

.content::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb-bg);
  border-left: 1px solid #1e1f29;
}

@media screen and (max-width: 600px) {
  .content {
    padding: 2rem 1rem;
  }
}

# touched on 2025-06-13T17:42:06.339914Z
# touched on 2025-06-13T17:42:33.586242Z
# touched on 2025-06-13T17:43:02.101851Z
# touched on 2025-06-13T17:43:16.399763Z
# touched on 2025-06-13T17:43:25.023590Z
# touched on 2025-06-13T17:43:42.267397Z